<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="main.bundle.js" defer></script>
    
</head>
<body>
    <!--Settings and where you can see your lists, if screen is too small, whooshes from the left and puts
        the main screen in the background, just slightly-->
    <section id="lists-container" >
        <!--sticky header-->
    <div class="header">
            <!--Hamburger to close, when screen is smaller-->
            <div><button type="button" onclick="closeMenu()">close</button></div>
            <h1>Welcome User!</h1>
    </div>
        <div class="section">
            <!-- tasks and projects-->
            <div id="default-projects-container">
                <ul>
                    <li id="my-day"><img id="my-day-img" alt="my Day">My Day</li>
                    <li id="soon-due"><img id="soon-due-img" alt="soon Due" >Soon Due</li>
                    <li id="planned"><img id="planned-img" alt="Planned">Planned</li>
                    <li id="all-tasks"><img id="all-tasks-img" alt="all Tasks" >All Tasks</li>
                </ul>
            </div>
            <!--You can add your current tasks into projects-->
            <div id="custom-projects-container">
                <ul id="custom-projects-list">
                    <li>Project</li>
                </ul>
            </div>
        </div>
        <!--sticky footer-->
        <div class="footer" id="new-list-button">
            <img id="new-list"><p>New List</p>
        </div>
    </section>
    
    <!--Main menu, where the user's tasks are shown, depending what they looked for-->
    <section id="tasks-container">
        <!--sticky header, tells you about your day, gives you access to the left -->
        <div class="header">
            <!--Hamburger logo, when screen is smaller-->
            <button type="button" onclick="openMenu()">Menu</button>
            <div>
                <h2 id="list-name">Current List name</h2>
            </div>
        </div>
        <!--If any of the tasks are clicked, create a menu on the right what you would like to change-->
        <div class="section">
            <div id="tasks-list-container">
                
                <ul id="not-done">
                </ul>
            
            
                <ul id="done">
                    
                </ul>
            </div>
        </div>
        <!--The sticky footer -->
        <div class="footer">
            <div id="add-task-container">
                <img id="add-task"><input type="text" name="task-add" id="task-add" placeholder="Add Task">
            </div>
        </div>
    </section>

    <section>
    <!--This is the settings for each task-->
    <div class="hidden" id="task-customization">
        <!-- click on the radio button, change the title of the task, add subtasks-->
        <section id="task-parent">
            <span id="close-task-customization">&Cross;</span>
            <div id="task-container">
                <div id="task-description-container">
                    <img id="done-img" alt="">
                    <p contenteditable="true" id="task-content">
                        
                    </p>
                    <img id="favorite" src="grade_FILL0_wght400_GRAD0_opsz48.svg" alt="">
                </div>
                <ul id="subtask-list-container">
                    <li id="add-subtask-list">
                        <img alt="add-task-symbol"id="add-subtask-button">
                        <span contenteditable="true" id="add-subtask-text">Next step</span>
                    </li>
                </ul>
            </div>
    
            <div id="add-to-my-day-container">
                <img id="add-to-my-day-container-image" alt="myDay">
                <div>
                    <span id="add-to-my-day-text">Add to my day</span>
                    <span id="add-to-my-day-cross">&Cross;</span>
                </div>
            </div>
            
            <div id="repeat-add-due-container">
                <!--Get submenu and then, if the user clicks at create cycle, open the date-time-container.
                    Place it under the same line as the submenu-->
                <div class="repeat-add-due-child">
                    <img id="event-repeat-image" alt="repeat sign">
                    <span id="event-repeat-span">Repeat</span>
                </div>
                <div class="repeat-add-due-child">
                    <img id="add-to-project-image" alt="add project">
                    <span id="add-to-project-span" >Add to project</span>
                </div>
                <!--Get the due-by-submenu under this.
                    Today, Tomorrow, Next Week, Pick a date
                -->
                <div class="repeat-add-due-child">
                    <img id="add-due-date-image" alt="add due date">
                    <span id="add-due-date-span">Add due date</span>
                </div>
                <!-- Add the priorities here -->
                <div class="repeat-add-due-child">
                    <img id="add-priority-image" alt="add due date">
                    <span id="add-priority-span">Set Priority</span>
                </div>
            </div>
    
            <div class="hidden submenus" id="due-by-submenu">
                <div>Today</div>
                <div>Tomorrow</div>
                <div>Next Week</div>
                <div>Pick a date</div>
            </div>
            
            <div class="hidden submenus" id="due-by-date-submenu">
                <p>Enter time and date</p>
                <input type="datetime-local" name="due-date-time" id="due-time">
            </div>
            
            <div class="hidden submenus" id="repeat-submenu">
                <div>daily</div>
                <div>weekly</div>
                <div>Monthly</div>
                <div>Create a cycle</div>
            </div>
            
            <div class="hidden submenus" id="project-choose">
                <select aria-label="state">
                    <option value="select-project">select project</option>
                    <option value="check">check</option>
                </select>
            </div>
            
            <div class="hidden submenus"id="cycle-container">
                <p>Select a starting date, then give a series of days, then press Enter.<br>E.g. 3,8,19,25 etc.</p>
                <p id="series" contenteditable="true">Enter series here and press Enter when done</p>
                <input type="datetime-local" name="cycle-date-time" id="cycle-time">
            </div>
            
            <div class="hidden submenus" id="priority-submenu">
                <span>importance</span>
                <select name="priority" id="priority-select">
                    <option value="-1">Choose Priority</option>
                    <option value="0">Low importance [0]</option>
                    <option value="1">Medium importance [1]</option>
                    <option value="2">High importance [2]</option>
                    <option value="3">Urgent importance [3]</option>
                
                </select>
            </div>
            
            <div class="hidden"id="cycles-container">

            </div>
    
            <div id="notes">
                <p id="notes-content" contenteditable="true">
                    Add note
                </p>
            </div>
    
        
        </section>
</body>
</html>