<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="main.bundle.js" defer></script>
    
</head>
<body>
    <!--Settings and where you can see your lists, if screen is too small, whooshes from the left and puts
        the main screen in the background, just slightly-->
    <section id="lists-container">
        <!--sticky header-->
        <div class="header">
            <!--Hamburger to close, when screen is smaller-->
            <div><button type="button" onclick="closeMenu()">close</button></div>
            <h1>Welcome User!</h1>
    </div>
        <div class="section">
            <!-- tasks and projects-->
            <div id="default-projects-container">
                <ul>
                    <li><img id="my-day">My Day</li>
                    <li><img id="soon-due">Soon Due</li>
                    <li><img id="planned">Planned</li>
                    <li><img id="all-tasks">All Tasks</li>
                </ul>
            </div>
            <!--You can add your current tasks into projects-->
            <div id="custom-projects-container">
                <ul>
                    <li>Project</li>
                </ul>
            </div>
        </div>
        <!--sticky footer-->
        <div class="footer">
        <img id="new-list"><p>New List</p>
        </div>
    </section>
    
    <!--Main menu, where the user's tasks are shown, depending what they looked for-->
    <section id="tasks-container">
        <!--sticky header, tells you about your day, gives you access to the left -->
        <div class="header">
            <!--Hamburger logo, when screen is smaller-->
            <button type="button" onclick="openMenu()">Menu</button>
            <div>
                <h2>Current List name</h2>
            </div>
        </div>
        <!--If any of the tasks are clicked, create a menu on the right what you would like to change-->
        <div class="section">
            <div id="tasks-list-container">
                
                <ul id="not-done">
                </ul>
            
            
                <ul id="done">
                    
                </ul>
            </div>
        </div>
        <!--The sticky footer -->
        <div class="footer">
            <div id="add-task-container">
                <img id="add-task"><input type="text" name="task-add" id="task-add" placeholder="Add Task">
            </div>
        </div>
    </section>

    <section>
    <!--This is the settings for each task-->
    <div class="hidden" id="task-customization">
        <!-- click on the radio button, change the title of the task, add subtasks-->
        <section id="task-parent">
            <span>&Cross;</span>
            <div id="task-container">
                <div id="task-description-container">
    
                    <img id="done-img" src="radio_button_unchecked_FILL0_wght400_GRAD0_opsz48.svg" alt="" srcset="">
                    <p contenteditable="true" id="done-content">Test the form taking and create a new
                        todo task from it sadfsfsfsfsfsdfsdf
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas accusantium doloremque accusamus
                        libero, aut molestiae quidem sunt atque aliquam modi enim incidunt facere quae at temporibus
                        repellat dolorum deleniti quibusdam.
                    </p>
                    <img src="grade_FILL0_wght400_GRAD0_opsz48.svg" alt="">
    
                </div>
                <ul id="subtask-list-container">
                    <li class="subtask-child">
                        <img class="subdone-img" src="radio_button_unchecked_FILL0_wght400_GRAD0_opsz48.svg">
                        <div>
                            <span contenteditable="true">My first subtask</span>
                            <img class="subtask-options" src="more_vert_FILL0_wght400_GRAD0_opsz48.svg"
                                alt="subtask-options">
                        </div>
                        
                    </li>
                    <li class="subtask-child">
                        <img class="subdone-img" src="radio_button_unchecked_FILL0_wght400_GRAD0_opsz48.svg">
                        <div>
                            <span contenteditable="true">My first subtask</span>
                            <img class="subtask-options" src="more_vert_FILL0_wght400_GRAD0_opsz48.svg"
                                alt="subtask-options">
                        </div>
                        
                    </li>
                    <li class="subtask-child">
                        <img class="subdone-img" src="radio_button_unchecked_FILL0_wght400_GRAD0_opsz48.svg">
                        <div>
                            <span contenteditable="true">My first subtask</span>
                            <img class="subtask-options" src="more_vert_FILL0_wght400_GRAD0_opsz48.svg"
                                alt="subtask-options">
                        </div>
                        
                    </li>
                    <li class="subtask-child">
                        <img class="subdone-img" src="radio_button_unchecked_FILL0_wght400_GRAD0_opsz48.svg">
                        <div>
                            <span contenteditable="true">My first subtask</span>
                            <img class="subtask-options" src="more_vert_FILL0_wght400_GRAD0_opsz48.svg"
                                alt="subtask-options">
                        </div>
                        
                    </li>
                    
                    <li class="subtask-child">
                        <img class="subdone-img" src="radio_button_unchecked_FILL0_wght400_GRAD0_opsz48.svg">
                        <div>
                            <span contenteditable="true">My first subtask</span>
                            <img class="subtask-options" src="more_vert_FILL0_wght400_GRAD0_opsz48.svg"
                                alt="subtask-options">
                        </div>
                    </li>
                    <li class="subtask-child">
                        <img class="subdone-img" src="radio_button_unchecked_FILL0_wght400_GRAD0_opsz48.svg">
                        <div>
                            <span contenteditable="true">My first subtask</span>
                            <img class="subtask-options" src="more_vert_FILL0_wght400_GRAD0_opsz48.svg"
                                alt="subtask-options">
                        </div>
                    </li>
    
                    <li id="add-subtask-list"><img src="add.svg" alt="add-task-symbol"id="add-subtask-button"><span
                            contenteditable="true" id="add-subtask-text">Next step</span>
                    </li>
                </ul>
            </div>
    
            <div id="add-to-my-day-container">
                <img src="sunny_FILL0_wght400_GRAD0_opsz48.svg" alt="myDay">
                <div>
                    <span id="add-to-my-day-text">Add to my day</span>
                    <span id="add-to-my-day-cross">&Cross;</span>
                </div>
            </div>
            
            <div id="repeat-add-due-container">
                <!--Get submenu and then, if the user clicks at create cycle, open the date-time-container.
                    Place it under the same line as the submenu-->
                <div class="repeat-add-due-child">
                    <img src="event_repeat.svg" alt="repeat sign">
                    <span>Repeat</span>
                </div>
                <div class="repeat-add-due-child">
                    <img src="date_range.svg" alt="add project">
                    <span>Add to project</span>
                </div>
                <!--Get the due-by-submenu under this.
                    Today, Tomorrow, Next Week, Pick a date
                -->
                <div class="repeat-add-due-child">
                    <img src="remind_me.svg" alt="add due date">
                    <span>Add due date</span>
                </div>
            </div>
    
            <div id="due-by-submenu">
                <div>Today</div>
                <div>Tomorrow</div>
                <div>Next Week</div>
                <div>Pick a date</div>
            </div>
            
            <div id="due-by-date-submenu">
                <p>Enter time and date</p>
                <input type="datetime-local" name="due-date-time" id="due-time">
            </div>
            
            <div id="repeat-submenu">
                <div>daily</div>
                <div>weekly</div>
                <div>Monthly</div>
                <div>Create a cycle</div>
            </div>
            
            <div id="project-choose">
                <select aria-label="state">
                    <option value="select-project">select project</option>
                    <option value="check">check</option>
                </select>
            </div>
    
            <div id="cycle-container">
                <p>Enter a series of days. E.g. 3,8,19,25 etc.</p>
                <p id="series" contenteditable="true">Enter series here</p>
                <input type="datetime-local" name="cycle-date-time" id="cycle-time">
            </div>
    
    
            <div id="cycles-container">
                <div class="cycles-child">
                    <span class="date-child">3rd JAnuary 2023</span>
                    <span class="date-options">
                        <img src="more_vert_FILL0_wght400_GRAD0_opsz48.svg" alt="date-options">
                    </span>
                </div>
                <div class="cycles-child">
                    <span class="date-child">3rd JAnuary 2023</span>
                    <span class="date-options">
                        <img src="more_vert_FILL0_wght400_GRAD0_opsz48.svg" alt="date-options">
                    </span>
                </div>
                <div class="cycles-child">
                    <span class="date-child">3rd JAnuary 2023</span>
                    <span class="date-options">
                        <img src="more_vert_FILL0_wght400_GRAD0_opsz48.svg" alt="date-options">
                    </span>
                </div>
            </div>
    
            <div id="notes">
                <p contenteditable="true">
                    Add note
                </p>
            </div>
    
        
        </section>
</body>
</html>