@import url("./_normalize.scss");
@font-face {
  font-family: "NotoSans";
  src: url("../font/NotoSans-Light.ttf");
}
body {
  height: 100vh;
  display: flex;
  font-family: "NotoSans", sans-serif;
}

ul {
  list-style-type: none;
}

#lists-container {
  display: flex;
  flex-direction: column;
  background-color: #f3f3f3;
  min-width: 280px;
}
#lists-container .section {
  overflow: auto;
  flex-grow: 1;
}
#lists-container ul {
  display: flex;
  flex-direction: column;
  gap: 1px;
}
#lists-container ul li {
  position: relative;
  right: 30px;
  display: flex;
  align-items: center;
}
#lists-container ul li:hover {
  background-color: #e0e0e0;
}
#lists-container img {
  padding-right: 1rem;
  width: 15px;
}
#lists-container #default-projects-container {
  border-bottom: #e0e0e0 2px solid;
}
#lists-container .footer {
  display: flex;
  align-items: center;
  gap: 5px;
}
#lists-container .footer img {
  position: relative;
  left: 10px;
  top: 1px;
}
#lists-container .footer imghover {
  background-color: #e0e0e0;
}
#lists-container .footer p {
  flex-grow: 1;
}

#tasks-container {
  background-color: #687ccc;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
#tasks-container .header h2 {
  color: #fff;
}
#tasks-container .section {
  flex-grow: 1;
}
#tasks-container ul {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
#tasks-container li {
  background-color: #f3f3f3;
  position: relative;
  right: 30px;
  display: flex;
  border-radius: 3px;
  gap: 4px;
}
#tasks-container liactive {
  background-color: #ffffff;
}
#tasks-container li p {
  display: inline;
  cursor: pointer;
}
#tasks-container li #task-delete-button {
  align-self: flex-end;
}
#tasks-container li #task-delete-button img {
  max-height: 15px;
}
#tasks-container .footer div {
  background-color: #e0e0e0;
  display: flex;
  position: relative;
  bottom: 15px;
}
#tasks-container .footer div img {
  width: 25px;
}
#tasks-container .task-child-done {
  color: grey;
  text-decoration: line-through;
}
#tasks-container #done {
  text-decoration: line-through;
}
#task-parent {
  display: hidden;
  min-width: 350px;
  max-width: 375px;
  background-color: #272727;
  color: white;
  padding: 1rem;
  overflow-y: scroll;
  height: 608.5px;
  margin-bottom: 3rem;
}
#task-parent img {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(13deg) brightness(107%) contrast(102%);
  width: 25px;
  height: 25px;
}
#task-parent ul {
  position: relative;
  bottom: 70px;
  list-style-type: none;
}
#task-parent li {
  display: flex;
  gap: 1rem;
  position: relative;
  right: 15px;
}
#task-parent li > img {
  position: relative;
  bottom: 3px;
}
#task-parent li > span {
  flex-grow: 1;
}
#task-parent #task-container {
  margin: 0.2rem;
  padding: 1rem;
  background-color: #323232;
  display: flex;
  flex-direction: column;
}
#task-parent #task-description-container {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}
#task-parent #task-description-container > p {
  flex-grow: 1;
  position: relative;
  bottom: 20px;
  font-size: 1rem;
}
#task-parent #subtask-list-container {
  padding: 1rem;
  margin-bottom: -5rem;
}
#task-parent #add-subtask-list {
  display: flex;
}
#task-parent #add-subtask-list > span {
  position: relative;
  right: 0.1rem;
}
#task-parent #add-subtask-button {
  filter: invert(46%) sepia(18%) saturate(201%) hue-rotate(161deg) brightness(90%) contrast(92%);
}
#task-parent #add-subtask-text {
  filter: invert(35%) sepia(18%) saturate(161%) hue-rotate(161deg) brightness(94%) contrast(92%);
  cursor: text;
}
#task-parent .subtask-child {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  max-width: 500px;
  padding: 0.5rem 0rem;
}
#task-parent .subtask-child > div {
  position: relative;
  flex-grow: 1;
  display: flex;
  border-bottom: solid 1px #434343;
}
#task-parent .subdone-img {
  height: 15px;
  width: 15px;
  left: 5px;
}
#task-parent .subtask-child > div > span {
  color: #9b9fab;
  flex-grow: 1;
}
#task-parent #add-to-my-day-container {
  background-color: #323232;
  margin: 0.1rem 0.2rem;
  position: relative;
  top: 0.5rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
#task-parent #add-to-my-day-container > img {
  position: relative;
  left: 0.2rem;
  width: 20px;
  height: 20px;
  filter: invert(35%) sepia(18%) saturate(161%) hue-rotate(161deg) brightness(94%) contrast(92%);
}
#task-parent #add-to-my-day-container > div {
  display: flex;
  flex-grow: 1;
}
#task-parent #add-to-my-day-text {
  flex-grow: 1;
  color: #9b9fab;
}
#task-parent #repeat-add-due-container {
  background-color: #323232;
  margin: 0.1rem 0.2rem;
  padding: 1rem;
  position: relative;
  top: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: default;
}
#task-parent .repeat-add-due-child {
  display: flex;
  gap: 1.2rem;
}
#task-parent .repeat-add-due-child > img {
  width: 20px;
  height: 20px;
  position: relative;
  left: 0.2rem;
}
#task-parent .repeat-add-due-child > span {
  position: relative;
  flex-grow: 1;
}
#task-parent .repeat-add-due-child:first-child {
  border-bottom: #9b9fab solid 1px;
}
#task-parent .repeat-add-due-child:nth-child(2) {
  border-bottom: #9b9fab solid 1px;
}
#task-parent .repeat-add-due-child:nth-child(3) {
  border-bottom: #9b9fab solid 1px;
}
#task-parent #cycles-container {
  z-index: 0;
  display: flex;
  background-color: #323232;
  position: relative;
  top: 1.8rem;
  margin: 0.1rem 0.2rem;
  padding: 1rem;
  flex-direction: column;
}
#task-parent .cycles-child {
  display: flex;
}
#task-parent .date-child {
  flex-grow: 1;
  position: relative;
  left: 2.4rem;
}
#task-parent #notes {
  display: flex;
  background-color: #323232;
  margin: 0.1rem 0.2rem;
  padding: 1rem;
  position: relative;
  top: 2.4rem;
}
#task-parent #notes > p {
  position: relative;
  bottom: 15px;
  margin-bottom: -1rem;
}
#task-parent #due-by-submenu {
  position: absolute;
  z-index: 1;
  border: 1px solid white;
  background-color: #323232;
}
#task-parent #due-by-submenu > div {
  border-bottom: solid 1px #9b9fab;
  padding: 0.5rem 0;
}
#task-parent #due-by-submenu > div:hover {
  background-color: #434343;
}
#task-parent #due-by-date-submenu {
  position: absolute;
  z-index: 1;
  padding: 1rem;
  background-color: #323232;
  border: 1px solid white;
}
#task-parent #project-choose {
  position: absolute;
  z-index: 1;
  background-color: #323232;
  border: 1px white solid;
  padding: 1rem;
}
#task-parent #cycle-container {
  max-width: 290px;
  position: absolute;
  z-index: 1;
  background-color: #323232;
  border: 1px solid white;
}
#task-parent #repeat-submenu {
  z-index: 1;
  position: absolute;
  background-color: #323232;
  border: solid 1px white;
}
#task-parent #priority-submenu {
  z-index: 1;
  position: absolute;
  background-color: #323232;
  border: solid 1px white;
}
#task-parent .submenus {
  overflow-y: hidden;
}
#task-parent .hidden {
  display: none;
}

/*# sourceMappingURL=style.css.map */
